@media (max-width: 992px) {
    .products img {
    min-height: 300px;
    }
}

@media (max-width:991px) {
    .navbar-nav {
        background-color: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 15px;
    }

    .navbar-collapse {
        margin-top: -5px;
    }
}

@media (max-width: 768px) {
    .about .info {
        margin-top: 20px;
    }

    .about .info.deflit {
        margin-bottom: 30px;

    }
}

@media (min-width: 768px) {
    
}

@media (max-width: 575px) {
    .products {
        text-align: center;
    }

    .products .product {
        text-align: center;
    }

    .products img {
        text-align: center;
    }
}

@media (max-width:550px) {
    .products img {
        width: 100%;
        max-width: 300px;
    }

    .copyright {
        font-size: 10px;

    }

    .footer .foot p {
        font-size: 10px;

    
    }

    .footer .foot {
        text-align: center;
    }
}

@media (max-width: 500px) {
    
    .about .info h3 {
        margin-left: 5px;
        font-size: 18px;
    }

    .about .info p {
        font-size: 15px;
    }
}